.lessonTask{
    min-height: 50vh;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
}
.taskImgAndMaterials img{
    height: 400px;
    width: 700px;
}
.taskContent p{
    font-family: Montserrat-bold, sans-serif;
}
.taskContent{
    margin-left: 2vw;
}
.children section{
    display: flex;
    flex-direction: row;
}
.children section div{
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}
.children img{
    margin-right: 1vw;
}
.text{
    font-size: 26px;
    margin-top: 0;
}
.children p{
    font-family: Montserrat-medium,sans-serif;
    font-size: 32px;
}
.taskNum{
    font-size: 48px;
    margin-bottom: 0;
}
.answerInput{
    border-radius: 8px;
    border: 3px solid #A2A2A2;
    height: 7vh;
    width: 35vw;
    font-size: 32px;
    font-family: Montserrat-medium,sans-serif;
    padding-left: 20px;
    margin-right: 23px;
    margin-bottom: 45px;
}
.answerBtn{
    border-radius: 8px;
    background-color: #6B63FF;
    color: #FFFFFF;
    border: 0px;
    width: 12vw;
    height: 7vh;
    font-size: 32px;
    font-family: Montserrat-medium,sans-serif;
}