.title{
    font-family: Montserrat-bold,sans-serif;
    font-size: 48px;
    margin-left: 3%;
    margin-bottom: 25px;
    margin-top: 35px;
}
.module{
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    font-family: Montserrat,sans-serif;
    border-radius: 8px;
    padding: 25px 40px;
    border: 1px solid black;
    margin-left: 5%;
}
.moduleName{
    display: flex;
    flex-direction: row;
}
.unfolder{
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    margin-left: 2vh;
    transition: transform 300ms;
}
.unfolderClosed{
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    margin-left: 2vh;
    transform: rotate(-180deg);
    transition: transform 300ms;
}
.module p{
    margin: 0;
    font-size: 40px;
}
.lesson{
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    background-color: #dadada;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
}
.lessonClosed{
    display: none;
    transition: display 300ms;
}
.lesson p{
    margin: 0;
}
@font-face {
    font-family: "Montserrat";
    src: url('../../Styles/fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}