.unCompletedTask{
    height: 55px;
    width: 55px;
    background-color: #C3C3C3;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 8px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-medium, sans-serif;
}
.currentTask{
    height: 55px;
    width: 55px;
    background-color: #ADA8FF;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-medium, sans-serif;
}
.completedTask{
    height: 55px;
    width: 55px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #8785FF;
    border-radius: 8px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-medium, sans-serif;
}
.rightTask{
    height: 55px;
    width: 55px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #34C924;
    border-radius: 8px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-medium, sans-serif;
}
.wrongTask{
    height: 55px;
    width: 55px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #FF2400;
    border-radius: 8px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-medium, sans-serif;
}
.tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
}
.taskStats{
    margin-left: 4vw;
    font-family: Montserrat-bold, sans-serif;
}
.tasksBlock{
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 4vh 45px 3vh 45px;
}
.title{
    font-size: 26px;
    margin-bottom: 15px;
    margin-left: 0;
}
.stats{
    font-size: 26px;
    margin-left: 0;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: #6B63FF;
    font-family: Montserrat-bold,sans-serif;
    color: #FFFFFF;
    font-size: 26px;
    width: 426px;
    height: 76px;
    border: 0;
    border-radius: 8px;
}