-- CreateTable
CREATE TABLE "lessons" (
    "id" BIGINT NOT NULL,
    "video" TEXT,
    "conspect" TEXT,
    "homework" TEXT,
    "homework_answers" TEXT[],
    "subject" VARCHAR(7),

    CONSTRAINT "lessons_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "students" (
    "student_id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "login" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "grade" INTEGER NOT NULL,
    "surname" TEXT,
    "gender" TEXT,
    "nickname" TEXT,
    "email" TEXT,

    CONSTRAINT "students_pkey" PRIMARY KEY ("student_id")
);

-- CreateTable
CREATE TABLE "teacher_student" (
    "teacher_id" BIGINT NOT NULL,
    "student_id" INTEGER NOT NULL,

    CONSTRAINT "teacher_student_pkey" PRIMARY KEY ("teacher_id","student_id")
);

-- CreateTable
CREATE TABLE "teachers" (
    "id" BIGSERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "surname" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "login" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "gender" TEXT,

    CONSTRAINT "teachers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "teachers_courses" (
    "teacher_id" BIGINT NOT NULL,
    "course_id" BIGINT NOT NULL,

    CONSTRAINT "teachers_courses_pkey" PRIMARY KEY ("teacher_id","course_id")
);

-- AddForeignKey
ALTER TABLE "teacher_student" ADD CONSTRAINT "teacher_student_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "students"("student_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teacher_student" ADD CONSTRAINT "teacher_student_teacher_id_fkey" FOREIGN KEY ("teacher_id") REFERENCES "teachers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teachers_courses" ADD CONSTRAINT "teachers_courses_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "lessons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teachers_courses" ADD CONSTRAINT "teachers_courses_teacher_id_fkey" FOREIGN KEY ("teacher_id") REFERENCES "teachers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

