.header{
    display: flex;
    top : 0;
    left: 0;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100vw;
    height: fit-content;
}
.header img{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 20px;
}
.title{
    display: block;
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(48vw / 1920 * 100);
    margin-top: 0px;
    margin-left: 35px;
    margin-bottom: 0px;
    margin-right: 33vw;
    color: #3E3BFF;
}
.buttons{
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    gap: 8px;
    flex-grow: 1;
    margin-left: auto;
    height: fit-content;
}
.selectedTab{
    border-bottom: 4px solid black;
}
@font-face {
    font-family: "Montserrat-bold";
    src: url('../Styles/fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
