.title{
    font-size: 20px;
    font-family: Montserrat,sans-serif;
    padding: 0px 8px;
}
.headerButton{
    cursor: pointer;
}
.selectedTab{
    border-bottom: 4px solid black;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Styles/fonts/static/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}