.title{
    font-size: calc(20vw / 1920 * 100);
    font-family: Montserrat,sans-serif;
    padding: 0px 8px;
}
.headerButton{
    cursor: pointer;
}
.selectedTab{
    border-bottom: calc(4vh / 1080 * 100) solid black;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Styles/fonts/static/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}