.fields{
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 20px;
}
.fields label{
    display: block;
    font-size: 18px;
    color: black;
    width: 300px;
}

.fields input{
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    border: 1px solid #D9D9D9;
    width: 300px;
}
.fields select{
    width: 326px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    padding: 12px;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    border-color: #D9D9D9;
}