.fieldLogin{
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 24px;
    color: black;
    margin-top: 0px;
    display: block;
}
.fieldPass{
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 24px;
    color: black;
    margin-top: 0px;
    display: block;
}
.login{
    padding-bottom: 5px;
}
.textInput{
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    border: 1px solid #D9D9D9;
    width: 300px;
}
.text{
    display: block;
    font-size: 18px;
    color: black;
    width: 300px;
}
.button{
    padding: 14px 112px;
    background-color: #3E3BFF;
    border-radius: 19px;
    border-color: #3E3BFF;
    color : white;
    font-weight: 550;
    font-family: Inter, sans-serif;
    font-size: 24px;
    display: flex;
    margin: auto;
}
.forgotPassword{
    display: block;
    color: black;
    font-family: Montserrat,sans-serif;
    margin-left: 24px;
    margin-bottom: 45px;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Styles/fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
