.mainBlock{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    min-height: 40px;
    width: 22vw;
    font-family: Montserrat-Bold, sans-serif;
    padding-left: 10px;
    padding-bottom: 12px;
    font-size: 16px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.multipleSelect{
    margin-bottom: 20px;
}
.currentOptionBlock{
    background-color: #F5F5F5;
    height: 24px;
    margin-top: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    width: fit-content;
    margin-right: 12px;
}
.closeButton{
    background-color: #f5f5f5;
    border: 0;
    font-size: 16px;
    font-family: Montserrat-bold, sans-serif;
}
.currentOption{
    margin: 0 12px 0 0;
}
.currentOptionsBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.openOptionsButton{
    margin-top: 8px;
    transform: rotate(180deg);
}
.openedOpenOptionsButton{
    margin-top: 8px;
}
.openOptionsButton:active{
    transform: rotate(0deg);
}
.closedOptions{
    display: none;
}
.optionBlock{
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width: 22.5vw;
}
.checkbox{
    border-radius: 8px;
    margin-right: 8px;
}
.option{
    font-family: Montserrat-bold, sans-serif;
    font-size: 16px;
}