.titleBlock{
    display: flex;
    align-items: flex-start;
}
.editorBlock{
    padding-left: 2vw;
    padding-top: 4vh;
}
.title{
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(32vw / 1920 * 100);
    margin-top: 3vh;
    margin-right: 3px;
    margin-bottom: 1.25vw;

}
.infoImage{
    height: 24px;
    width: 24px;
    margin-top: 2vh;
}
.infoTip{
    font-family: Montserrat-bold, sans-serif;
    font-size: 14px;
    margin-top: 0;
}
.suggestedModule{
    height: 7vh;
    width: 53.5vw;
    border: 1px solid #585858;
    border-radius: 10px;
    padding-left: 1.3vw;
    display: flex;
    align-items: center;
}
.suggestedModuleText{
    color: #A2A2A2;
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(32vw / 1920 * 100);
    margin: 0;
}
.suggestedLesson{
    height: 7vh;
    width: 47vw;
    margin-left: 6.5vw;
    border-radius: 8px;
    padding-left: 1.3vw;
    display: flex;
    align-items: center;
    border: 1px solid #585858;
    background-color: #F4F4F4;
}
.suggestedLessonText{
    color: #A2A2A2;
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(28vw / 1920 * 100);
    margin: 0;
}
.actualModule{
    height: 7vh;
    width: 53.5vw;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 1.3vw;
    display: flex;
    align-items: center;
}
.actualModuleText{
    color: #000000;
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(32vw / 1920 * 100);
    margin: 0;
}
.actualLesson{
    height: 7vh;
    width: 47vw;
    margin-left: 6.5vw;
    border-radius: 8px;
    padding-left: 1.3vw;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    background-color: #F4F4F4;
    justify-content: space-between;
}
.actualLessonText{
    color: #000000;
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(28vw / 1920 * 100);
    margin: 0;
}
.actualModuleBlock{
    margin-bottom: 1vh;
}
.unfolder{
    width: 2vw;
    height: 3.7vh;
    position: relative;
    top: 5px;
    margin-left: 2vh;
    transition: transform 300ms;
}
.unfolderClosed{
    width: 2vw;
    height: 3.7vh;
    position: relative;
    top: 5px;
    margin-left: 2vh;
    transform: rotate(-180deg);
    transition: transform 300ms;
}
.deleteBtn{
    margin-right: 10px;
    font-size: calc(24vw / 1920 * 100);
    height: 4vh;
    width: 14vw;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    font-family: Montserrat-bold, sans-serif;
}
.nameEditor{
    border: 0;
    background-color: #F4F4F4;
    resize: none;
    width: 24vw;
    height: 6vh;
    text-align: left;
    align-content: center;
    vertical-align: middle;
    font-family: Montserrat-bold, sans-serif;
    font-size: calc(24vw / 1920 * 100);
    outline: none;
}
.descTitle{
    margin-top: 6.3vh;
    font-family: Montserrat-bold, sans-serif;
    font-size: 3vh;
    margin-bottom: 2.22vh;
}
.descEditImg{
    margin-top: 6.3vh;
    width: 36px;
    height: 36px;
    margin-left: 18px;
}
.descTitleBlock{
    display: flex;
    flex-direction: row;
}
.descEdit{
    resize: none;
    width: 50vw;
    height: 35vh;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: calc(24vw / 1920 * 100);
    font-family: Montserrat-medium, sans-serif;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.descText{
    margin-top: 0;
    font-size: 24px;
    font-family: Montserrat-medium, sans-serif;
}
.descTextBlock{
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 50vw;
    height: 35vh;
    border: 1px solid #585858;
    border-radius: 10px;
    overflow-wrap: break-word;
}